/**** Importation de la police "Poppins" ****/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161922;
    color: #999999;
    font-family: "Poppins", sans-serif;
    padding: 15px;
}

.wrapper {  
    max-width: 700px;
}
  
.round { 
    width: 200px;   
    overflow: hidden;   
    margin-right: 2rem;
    border-radius: 50%; 
    text-align: center; 
    font-size: 30px; 
    float: left;   
    shape-outside: circle();   
}

p {
    line-height: 1.5;
}